<div class="row">
  <div class="col-md-6">
    <div class="card card-body">
        <h3 class="box-title m-b-0">Nombre: {{medico.nombre}}</h3>
        <p class="text-muted m-b-30 font-13"> {{medico.nombre}} </p>
        <div class="row">
            <div class="col-sm-12 col-xs-12">
                <form #f="ngForm" ngNativeValidate (submit)="guardarMedico(f)">
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nombre del médico</label>
                        <input [(ngModel)]="medico.nombre"  name="nombre" type="text" class="form-control" placeholder="Enter Username" required>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Hospital</label>
                        <select (change)="cambioHospital($event.target.value)" [(ngModel)]="medico.hospital" name="hospital" class="form-control" required>
                          <option value="">Seleccione Hospital</option>
                          <option *ngFor="let hospital of hospitales" [value]="hospital._id">{{hospital.nombre}}</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-success waves-effect waves-light m-r-10"><i class="fa fa-save" aria-hidden="true"></i> Submit</button>
                    <button [routerLink]="['/medicos']" class="btn btn-inverse waves-effect waves-light">Cancel</button>
                </form>
            </div>
        </div>
    </div>
  </div>
<div class="col-md-3">
  <div class="card card-body">
  <h4 class="box-title m-b-0">Hospital</h4>
  <img [src]="hospital.img | image:'hospitales'" alt="" class="rounded img-fluid">
  </div>
</div>
<div *ngIf="medico._id" class="col-md-3">
  <div class="card card-body">
    <h4 class="box-title m-b-0">Foto médico</h4>
    <img
    (click)="cambiarFoto()"
    [src]="medico.img | image:'medico'"
    alt=""
    class="img-circle img-fluid pointer">
  </div>
</div>
</div>
