<div class="row">
  <div class="col-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
              {{ graficos.grafico1.leyenda }}
            </h4>
            <app-graficas-donuts [Labels]="graficos.grafico1.labels" [Data]="graficos.grafico1.data"></app-graficas-donuts>
          </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
              {{ graficos.grafico2.leyenda }}
            </h4>
            <app-graficas-donuts [Labels]="graficos.grafico2.labels" [Data]="graficos.grafico2.data"></app-graficas-donuts>
          </div>
    </div>
  </div>
  <div class="col-6">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">
              {{ graficos.grafico3.leyenda }}
            </h4>
            <app-graficas-donuts [Labels]="graficos.grafico3.labels" [Data]="graficos.grafico3.data"></app-graficas-donuts>
          </div>
    </div>
  </div>
  <div class="col-6">
<div class="card">
    <div class="card-body">
        <h4 class="card-title">
          {{ graficos.grafico4.leyenda }}
        </h4>
        <app-graficas-donuts [Labels]="graficos.grafico4.labels" [Data]="graficos.grafico4.data"></app-graficas-donuts>
      </div>
</div>
  </div>
</div>
